body {
	width:1200px;
	margin:auto;
	background-color: #2C4F9B;
	font-family: arial;
}

/****************************************************/
/* HEADER */
/****************************************************/


header {
	display: inline-block;
	float:  left;
	margin-left: 0px;
	width: 130px;
}
header img  {
	width: 100%;
	border-top-left-radius:40px;
	border-bottom-left-radius:40px;	
	animation: width 2s;
	transition-duration: 0.5s;
}

header img:hover {
	width: 130%;
	opacity: 80%;
}

/****************************************************/
/* NAV */
/****************************************************/


#navHaut {
	background-color: #2C2F9B;
	border-radius:30px;
	padding: 18px;
}	
.navHautGauche {
	text-decoration:none;
	text-transform:uppercase;
	color:white;
	transition: font-size 0.5s, opacity 0.5s;
}

.navHautGauche:hover {
	font-size: 150%;
}


#navHaut img {
	width:30px;
	float: right;
	animation: width 2s;
	transition-duration: 2s;
}

#navHaut img:hover {
	width: 60px;
}

#contact {
	border: solid 1px black;
	background-color: black;
	display:inline-block;
	margin-left: 30px;
	padding: 5px;
	border-radius: 10px;
}

#split {
	display: none;
	font-size: 15px;
	margin-left: 0px;
}

#IUT {
	border: solid grey 1px;
	background-color: grey;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	margin-right: 1px;
	padding: 5px;
}

#fingerprint {
	background-color: grey;
	padding: 5px;
}

#partner {
	border: solid grey 1px;
	background-color: grey;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	padding: 5px;
	margin-left: 1px;
}

#home {
	border: solid 1px black;
	background-color: black;
	display:inline-block;
	margin-left:290px;
	margin-right: 30px;
	padding: 5px;
	border-radius: 10px;

}

#presentation {
	border: solid 1px black;
	background-color: black;
	display: inline-block;
	padding: 5px;
	border-radius: 10px;
}

/****************************************************/
/* MAIN*/
/****************************************************/



main {
	background-color: #D8DEF2;
	height:auto;
	width: 1150px;
	margin: auto;
	border-radius:2px;
	padding-bottom: 5px;
}

.figs {
	padding:40px;
	text-align:center;
}

#photoIUT {
	width:38%;
}

.map1map2 {
	width:38%;
	display: inline-block;
}
.pharmaSchool {
	width:21.9%;
	display: inline-block;
}

.centreSuperU {
	width:38%;
}

#fig4 a {
	padding:35px;
}

.charts {
	width:40%;
}

#BusStop {
	width:20%;
}

.BusStopandIitnerary {
	padding-bottom:40px;
}

#Itinerary {
	padding-left:35px;
}

#fig8 {
	text-align:center;
	margin-right:100px;
}

#parkingPlan {
	width:39%;
}

#zenPark {
	width:43.1%;
}

#fig8 a {
	padding:35px;
}

#fig8_1 {
	display:inline-block;
	width:33%;
	float:right;
}

#rigthttext {
	display:inline-block;
	width:60%;
}

#two-wheelParking {
	padding-top:35Px;
}

#sectionEquipments {
	padding-top:50px;
}

#fig10 a {
	padding:20px;
}

#logoAsso3 {
	padding-top:20px;
}

main h2 {
	text-align:center;
	padding-top:20px;
	color:#2C4FFF;
	font-size:50px;
}

.section p { 
	margin-left: 60px;

}

.section span {
	margin-left: 60px;
	font-weight: bold;
	padding-top: 10px;
}

.section ul {
	margin-left: 30px;
}


/****************************************************/
/* footer/
/****************************************************/


footer {
	display:  inline-block;
	width: 1200px;
	background-color:grey;
	margin-top:102px;
	border-radius:40px;
}
footer img {
	width: 10%;
	display: inline-block;
	float:  left;
	border-top-left-radius:40px;
	border-bottom-left-radius:40px;
	animation: width 2s;
	transition-duration: 0.5s;
}

footer img:hover {
	width: 12%;
}
footer p {
	display:inline-block;
	float: right;
	margin-right: 30px;
}